.ad_p_popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure it's above other elements */
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically and horizontally */
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .ad_p_popup_container {
    background-color: white;
    border: 1px solid #ccc;
    max-width: 90%; /* Adjust maximum width as needed */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
  }
  
  .ad_p_popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ad_p_pph3 {
    margin: 0;
    flex-grow: 2;
  }
  
  .close_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
    margin-left: auto;
  }
  
  .close_button:hover {
    color: darkred;
  }

  .adp1, .adp2, .adp3 ,.adp4 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .adp1 label, .adp2 label, .adp3 label, .adp4 label {
    margin-right: 10px;
    font-size: 15px;
    font-weight: medium;
  }
  
  .adp1 input, .adp2 input, .adp3 input , .adp4 input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .adp1 input:focus, .adp2 input:focus, .adp3 input:focus , .adp4 input:focus {
    border-color: #666;
  }

  .ad_p_button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .ad_p_save_button {
    background-color: #091A44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  
  .ad_p_save_button:hover {
    opacity: 0.9;
  }
