*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
}

html, body {
height: 100%;

}

.appoint_horizontal{
  height: 100vh;
  display: flex;
}

.appoint_h1{
  flex: 0 0 70px; 
  background-color: white; 
}

.appoint_h2{
  flex: 1; 
  background-color: #f1f1f1; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.appoint_left,
.appoint_right {
  width: 45%; 
  background-color: white;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.appoint_left{
height: auto;
}

.appoint_right{
height: 80vh;
max-height: 80vh;
overflow-y: auto;
}

.h_appoint{
margin-top: 10px;
text-align: center;
color: #091A44;
}

.appoint_hr{
margin-top: 10px;
display: flex;
justify-content: space-between;
}

.cd , .sts , .sch{
margin-left: 10px;
margin-top: 10px;
color: #091A44;
display: flex;
text-align: left;
align-items: center;
text-decoration: underline;
}

.sch{
margin-top: 50px;
}

.appoint_input-field {
width: 50%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
}



.appoint-text input{
margin-left: 5px;
}

.appoint-email input{
margin-left: 7px;
}

.appoint_input-field[type="text"] {
width: 50%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
}

.appoint_input-field[type="email"] {
width: 50%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
}


.appoint_input-field[type="number"] {
width: 50%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 5px;
}

.appointform-group {
display: flex;
justify-content: start;
margin-bottom: 10px;
}

.appointform-group label {
margin-left: 10px;
margin-top: 12px;
margin-right: 10px;
text-align: center;
display: block;
margin-bottom: 5px;
}



.appoint_select-field-cont{
width: 50%;
}

.appoint_select-field {
margin-top: 10px;
margin-left: 10px;
border: 1px solid #ddd;
border-radius: 5px;
appearance: none; /* Remove default arrow */
background-color: #fff;
font-size: 16px;
color: #333;
}

/* Styles for the dropdown arrow */
.appoint_select-field::after {
content: '\25BC'; /* Unicode character for downward arrow */
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
pointer-events: none; /* Ensure the arrow doesn't interfere with clicking */
}

/* Styles for the dropdown options */
.appoint_select-field option {
background-color: #fff;
color: #333;
}

/* Styles for when the dropdown is opened */
.appoint_select-field:focus {
outline: none;
border-color: #66afe9;
box-shadow: 0 0 5px #66afe9;
}

.schedule_date-label {
margin-left: 10px;
display: block;
margin-bottom: 5px;
margin-right: 10px;
}

.schedule_date-input {
/* width: 30%; */
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
color: #333;
background-color: #f9f9f9;
}

/* Styles for when the input field is read-only */
.schedule_date-input[readonly] {
background-color: #ddd;
cursor: not-allowed;
}

.schedule_form-group{
margin-top: 10px;
display: flex;
align-items: center;
}


/* Styles for the time selection section */
.schedule_time-selection {
margin-top: 10px;   
display: flex;
align-items: center;
}

.schedule_time-label {
margin-left: 10px;
display: block;
margin-bottom: 5px;
margin-right: 10px;
}

.schedule_time-dropdown {
padding: 10px;
margin-right: 10px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
color: #333;
background-color: #f9f9f9;
-webkit-appearance: none; /* Remove default arrow for Chrome/Safari */
-moz-appearance: none; /* Remove default arrow for Firefox */
appearance: none; /* Remove default arrow for other browsers */
}

.schedule_time-dropdown:focus {
outline: none;
border-color: #66afe9;
box-shadow: 0 0 5px #66afe9;
}

.appoint-button-container{
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.appoint_submit-button {
margin-top: 20px;
width: 20%;
padding: 10px 20px;
font-size: 16px;
background-color: #091A44;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
font-family: 'Montserrat', sans-serif;
}

.appoint_submit-button:hover {
background-color: #0b2158;
}

.appoint_table_wrapper {
margin-top: 10px;
max-height: 65vh; 
overflow-y: auto; 
}

.appoint_table {
width: 100%;
border-collapse: collapse;
}

.appoint_table th, .appoint_table td {
border: 1px solid #dddddd;
padding: 8px;
text-align: center;
}

.appoint_table th {
background-color: #f2f2f2;
}

.appoint_table tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

.appoint_table tbody tr:hover {
background-color: #e2e2e2;
}

.appoint_table th, .appoint_table td {
padding: 10px;
}

.status-dropdown {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: #fff;
font-size: 14px;
color: #333;
}

/* Style for dropdown options */
.status-dropdown option {
background-color: #fff;
color: #333;
}

/* Hover effect for dropdown options */
.status-dropdown option:hover {
background-color: #f5f5f5;
}


@media screen and (max-width: 768px) {
  .appoint_right{
      display: none;
  }

  .appoint_left{
    margin-left: 10px;
      width: 100%;
  }

  .schedule_date-input{
    /* width: 60%; */
  }

  .appoint_submit-button{
    width: 60%;
  }

  .appoint_left{
    background-color: transparent;
    margin-left: -1px;
    box-shadow: none;
  }
  
  .ss{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .appoint_select-field{
    width: 80%;
   
  }

  .appoint_input-field[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }

  .appoint_input-field[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }

  .appoint_input-field[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
  }

  .ba_con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .ap-p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
  }

  .ap-p-parent{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    
  }

  
}

@media screen and (max-width: 480px) {
.appoint_input-field[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.appoint_input-field[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.appoint_input-field[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.ba_con{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ap-p{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

.ap-p-parent{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  
}

.appoint_select-field{
  width: 100%;
}
}