/* Container for the entire customer loyalty component */
.cl_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:white; /* Light background for contrast */
    margin-top:160px;
    width:1000px;
    margin-right:100px;
}

/* Main area for the customer list */
.cl_main {
    flex: 1;
    display: flex;
}

/* Header styling */
.cl_headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Search bar input styling */
.cl_searchBar {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 250px; /* Width for search bar */
}

/* Table wrapper to allow scrolling */
.cl_table_wrapper {
    overflow-x: auto;
}

/* Table styling */
.cl_table {
    width: 1400px; /* Full width */
    border-collapse: collapse;
    margin-top: 20px;
}

.cl_table th,
.cl_table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* Light border */
}

/* Table header styling */
.cl_table th {
    background-color:white; /* Header background */
    color:#B5B7C0; /* Header text color */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
}

/* Table cell styling */
.cl_table td {
    background-color: white; /* Row background */
    color: #292D32;
    ; /* Row text color */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.01em;
}

/* Button styling for adding customers */
.cl_add {
    display: flex;
    align-items: center;
    background-color: #5570F1;
    ; /* Button background */
    color: white;
    border: none;
    padding-left: 80px;
    cursor: pointer;
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth hover effect */
}



/* Divider styling */
.cl_divider {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #ddd; /* Divider color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cl_table {
        font-size: 12px; /* Smaller font for mobile */
    }

    .cl_searchBar {
        width: 100%; /* Full width on mobile */
    }
}
