* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gbform-group, .gbform-groups {
  display: flex;
  align-items: center; /* Center align vertically */
  width: 500px; /* Keep width as needed */
  margin-left: 60px; /* Adjust as necessary */
}

.gbform-group label, .gbform-groups label,gb_select-field {
  margin-right: 10px; /* Space between label and input */
  color: #091A44; /* Label color */
  width: 150px; /* Adjusted width for label */
}

.gb_input-field, .gb_input-fields {
  padding: 8px;
  border: 1px solid #CFD3D4; /* General border */
  border-radius: 8px;
  height: 58px;
  flex: 1; /* Makes input fields take remaining space */
}

.gb_select-field {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: 220px;
  height:80px;
}

.gb_horizontal {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input, select {
  font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* General Styling */
.GI {
  color: #091A44;
}

.gb_h1, .gb_h2 {
  background-color: white;
}

.gb_h1 {
  flex: 0 0 70px;
}

.gb_h2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  transition: background-color 0.3s ease;
}

/* Layout */
.gb_left, .gb_right {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gb_left {
  margin-top: 60px;
  width: 700px;
  padding: 20px;
  margin-right: 10px;
  height: 1100px;
  margin-left: 180px;
  border-radius: 30px;
}

.gb_right {
  margin-top: 60px;
  width: 700px;
  margin-left: 100px;
  height: 1100px;
  border-radius: 30px;
}

.gb_btn_contain {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.gb_button {
  width: 50%; 
  padding: 10px 16px; 
  background-color: #5570F1; 
  color: #fff;
  border: none;
  border-radius: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gb_button:hover {
  background-color: #0b2158;
}

/* Table Styles */
.gb_table {
  width: 100%;
  border-collapse: collapse;
}

.gb_table th, .gb_table td {
  padding: 10px; 
  text-align: center;
  border: 1px solid #dddddd;
}

.gb_table th {
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  color: #B5B7C0; 
  background-color: transparent;
}

.gb_table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.gb_table tbody tr:hover {
  background-color: #e2e2e2;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .gb_right {
    display: none; 
  }

  .gb_left {
    width: 100%; 
  }

  .gb_button {
    width: 60%; 
  }
}
