* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #091A44;
  color: #fff;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

.header_logo {
  width: auto; /* Adjust the width */
  height: 100px; /* Maintain aspect ratio */

}

.nav-button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-photo {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.down-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #333;
  border-radius: 4px;
  flex-direction: column;
  min-width: 200px;
  padding: 5px 0;
}

.dropdown-menu.active {
  display: flex; /* Show when active */
  z-index: 1;
}

.dropdown-item {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-btn {
  cursor: pointer;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .navbar-center {
    gap: 1rem; /* Adjust gap for smaller screens */
  }

  .header_logo {
    width: 100px; /* Adjust for smaller screens */
  }
}

@media only screen and (max-width: 768px) {
 

  .nav-btn {
    visibility: visible;
  }

  .navbar-center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #091A44;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
    gap: 1.5rem;
  }

  .responsive_nav {
    transform: translateY(0);
  }

  .nav-button {
    margin: 0 3px;
    padding: 3px 8px;
  }

  .header_logo {
    width: 100px; /* Adjust for smaller screens */
  }

  .dropdown-menu {
    min-width: 150px;
  }

  .profile-image {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .header_logo {
    width: 100px; /* Adjust for smaller screens */
  }
}
