* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.admin_inventory_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom:500px;
    margin-left:180px;
}

.inventory_details_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 900px; /* Increased max width */
}

.inventory_details_header h1 {
    margin: 0;
    white-space: nowrap;
}

.add_inventory_button {
    background-color: transparent;
    color: #091a44;
    border: 2px solid #091a44;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.add_inventory_button:hover {
    background-color: #5570F1;
    color: white;
}

.horizontal_line_container {
    display: flex;
    justify-content: center;
}

.horizontal_line {
    border: none;
    height: 1px;
    width: 1200px;
    background-color: #091a44;
    margin: 10px 0;
    margin-left:100px;
}

.admin_inventory_table_container {
    width: 1000px; /* Increased width for table container */
    margin-top: 20px;
}

.admin_inventory_table {
    width: 100%; /* Table will take the full width of its container */
    border-collapse: collapse;
}

.admin_inventory_table th,
.admin_inventory_table td {
    padding: 12px 8px;
    border-bottom: 1px solid #ddd;
    text-align: left; /* Changed to left alignment */
}

.admin_inventory_table th {
    background-color: #ffffff; /* Updated color */
    color: #B5B7C0; /* Font color for headings */
    font-family: 'Poppins', sans-serif; /* Updated font family */
    font-size: 14px; /* Updated font size */
    font-weight: 500; /* Updated font weight */
    line-height: 21px; /* Updated line height */
    letter-spacing: -0.01em; /* Updated letter spacing */
}

.admin_inventory_table td {
    background:#ffffff ; /* Updated background color for data cells */
    color:#292D32 ; /* Font color for data */
    font-family: 'Poppins', sans-serif; /* Updated font family */
    font-size: 14px; /* Updated font size */
    font-weight: 500; /* Updated font weight */
    line-height: 21px; /* Updated line height */
    letter-spacing: -0.01em; /* Updated letter spacing */
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .inventory_details_header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .add_inventory_button {
        width: 100%;
        margin: 10px 0;
    }

    .horizontal_line {
        width: 90%;
    }

    .admin_inventory_table_container {
        width: 95%;
    }

    .admin_inventory_table {
        width: 100%;
    }
}
