* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.personal_information_container {
  background-color: white;
  width: 100%;
  min-height: 100vh; /* Use min-height for full height */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  font-family: 'Montserrat', sans-serif;
}

.pi_main {
  padding: 20px;
  flex: 1; /* Take remaining vertical space */
}

.pi_horizontal_container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  justify-content: space-around;
}

.pi_horizontal_item {
  width: 100%; /* Full width on smaller screens */
  max-width: 45rem; /* Limit maximum width for larger screens */
  margin: 10px;
  padding: 20px;
  border-radius: 5px;

}

.pi_horizontal_item img {
  margin-top: 10px;
  width: 100%;
  max-width: 200px; /* Limit image width */
  display: block;
  margin: 0 auto;
}

.pi_horizontal_item h2 {
  margin-bottom: 10px;
  color: #091a44;
}

.pi_input_container {
  display: flex;
  flex-wrap: wrap; /* Allow input containers to wrap */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pi_input_container label {
  margin-bottom: 5px;
  font-weight: bold;
  flex: 1; /* Take remaining space */
  min-width: 100px; /* Minimum label width */
  margin-left: 10px;
}

.pi_input_container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 16px;
  flex: 1; /* Take remaining space */
}

.pi_input_container input:focus {
  outline: none;
  border-color: #007bff;
}

.pi_up_container {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Center the button */
}

.pi_update_button {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #091a44;
  border: 2px solid #091a44;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.pi_update_button:hover {
  background-color: #091a44;
  color: white;
}

.pi_update_button:focus {
  outline: none;
}


/* Add this CSS for laptop view */
@media screen and (min-width: 768px) {
  .pi_horizontal_item img {
    width: 100%;
    max-width: 400px; /* Increase the maximum width for larger screens */
    display: block;
    margin: 0 auto;
  }
}
