*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.settings_container{
    background-color: #f1f1f1;
}

.settings_container {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .content_container {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .settings_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; 
    max-width: 400px;
    padding: 20px;
    height: 45vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  .settings_box img {
    width: 50%;
    margin-bottom: 10px;
  }

    .settings_box h2 {
        margin-bottom: 10px;
        color: #091A44;
    }